node-linker=hoisted
prefer-frozen-lockfile=true
resolution-mode=highest
# Tăng tốc độ cài đặt packages
ignore-scripts=true
# Tối ưu hóa cache
cache-min=3600
# Bật auto install peer dependencies
auto-install-peers=true 